body {
  background-image: url('../images/asteroids.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Base color */
button {
  background-color: #15379d;
}

button.off{
  background-color: #15379d;
}

#connect-button {
  background-color: #15379d;
}

#reload-button {
  background-color: #15379d;
}

/* Active color */
button.on{
  background-color: #4b72e7;
}

button:active {
  background-color: #4b72e7;
}

#connect-button:active {
  background-color: #4b72e7;
}

div.connecting #connect-button {
  background-color: #4b72e7;
}

