body {
  background-image: url('../images/Constellations.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Base color */
button {
  background-color: #159d7b;
}

#connect-button {
  background-color: #159d7b;
}

#reload-button {
  background-color: #159d7b;
}

/* Active color */
button:active {
  background-color: #1cca9e;
}

#connect-button:active {
  background-color: #1cca9e;
}

div.connecting #connect-button {
  background-color: #1cca9e;
}

